.toolbar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #eee;
}

#map-area * {
    margin: 0 auto;
}

.toolbar .toolbar-tabs {
    list-style: none;
    margin: 0 auto;
}

.toolbar .toolbar-tabs li {
    display: inline-block;
    width: auto;
    height: 100%;
    padding: 0 10px;
}

.toolbar .toolbar-tabs li:hover {
    cursor: pointer;
} 

.toolbar .toolbar-tabs li:focus {
    color: red;
}